<? if( $page == 'business' ) $page = 'record information'; ?>
<style type="text/css">
    .ebindr-mobile-sidenav li a {
        padding: 10px 15px;
        font-size: 11pt;
    }
</style>
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span3" style="padding-bottom: 10px;">
        
            <h3 style="padding-bottom: 10px;">
                <a id="business-information-name" alt="Company Name" href="/m/business.html?info=business-names"><?=$__business_info['button_bn']?></a>
                <a id="business-information-name-edit" alt="Edit Company Name" class="btn btn-primary" id="edit-complaint" href="/m/business/names-dba/edit.php?did=<?=$__business_info['did']?>"><i class="icon-edit icon-white"></i></a>
            </h3>

            <div class="clearfix"></div>
                <div class="nav">
                            <ul class="nav nav-tabs nav-stacked biz-collapse">
                                <? foreach( $__main_menu['ul']['Business'] as $_li => $_value ): ?>
                                <? if( $_li == '_blank' ) continue; ?>
                                    <? list($_v,$_class) = explode( ':', $_value ); ?>
                                    <li class="<?=$_class?> <?=( $page == strtolower($_li) ? 'active' : '' ) ?>"><a alt="<?=$_li?>" href="<?=$___ebindr2mobile_http[ 'url' ].$_v?>"><?=$_li?></a></li>
                                <? endforeach; ?>
                            </ul>
                        </div>

                    
        </div><!--/span-->
        
        <div class="span9">