<div class="nav">
    <ul class="nav nav-tabs nav-stacked">
        <li alt="Accreditation">
            <div id="ms" class="block status" tabindex="121" style="cursor: pointer;">BBB Accredited Busines<u>s</u></div>
        </li>
        <li class="ratings-and-accreditation">
            <div class="block" style="height: 68px;">
                <!--    	<div id="ms2" class="button32-span2 status"></div>-->
                <div id="mn" class="button32 new" tabindex="38" style="cursor: pointer;"><span><u>N</u>ew</span></div>
                <div id="mb" class="button32 cancel" tabindex="39" style="cursor: pointer;"><span>A<u>B</u> Test</span></div>
                <div id="ma" class="button32 action more" tabindex="40" style="cursor: pointer;"><span><u>A</u>ction</span></div>
                <div id="mr" class="button32 reports" tabindex="41" style="cursor: pointer;"><span><u>R</u>eports</span></div>
                <div id="mp" class="button32 payment" tabindex="42" style="cursor: pointer;"><span><u>P</u>ayment</span></div>
                <div id="ml" class="button32 ledger more" tabindex="43" style="cursor: pointer;"><span><u>L</u>edger</span></div>
                <div id="md" class="button32 dues " tabindex="44" style="cursor: pointer;"><span><u>D</u>ues</span></div>
                <div id="my" class="button32 payment" tabindex="45" style="cursor: pointer;"><span>pPa<u>y</u>ment</span></div>
                <div id="mg" class="button32 ledger" tabindex="46" style="cursor: pointer;"><span>pLed<u>g</u>er</span></div>
                <div id="mu" class="button32 dues" tabindex="47" style="cursor: pointer;"><span>pD<u>u</u>es</span></div>
                <div id="mock" class="button32 mock" tabindex="48" style="cursor: pointer;"><span>Mock</span></div>
            </div>
        </li>
        <li><iframe id="frame_m" name="frame_m" src="" marginwidth="0" marginheight="0" scrolling="auto" style="height: 565px; width: 100%;" frameborder="0"></iframe></li>
    </ul>
</div>