<h3>
	People &amp; Contacts 
	<? if (securityCheck('bo') || ( securityCheck('b*') && !securityCheck('bo') ) ) { ?>
	<a style="float: right;" href="/m/business/people/add.php" class="btn btn-success btn-mini"><i class="icon-white icon-plus"></i> Add</a>
	<? } ?>
</h3>
<?

$url = "http://".$_SERVER['SERVER_NAME']."/m/api/business/basic/person/listing/" . $_SESSION['bid'];
$people= json_decode($bbapi->get($url));
$people=$people->results;
?>

<table class="table table-striped table-bordered table-condensed">
    <thead>
        <tr>
            <th>Name</th>
            <th>Label</th>
        </tr>
    </thead>
    <tbody>
        <? foreach($people as $person) { ?>
            <tr class="clickable" id="<?=$person->pid?>">
                <td>
                    <?=stripslashes($person->prename)?> <?=stripslashes($person->firstname)?> <?=stripslashes($person->lastname)?> <?=stripslashes($person->postname)?> 
                    <? if($person->main=='y') { ?>
                        <span class="badge badge-important">Primary</span>
                    <? } ?>
                </td>
                <td>
                  <?=stripslashes($person->title)?>
                  <? if(strlen(trim($person->label)) > 0) { ?>
                  <span class="badge"><?=$person->label;?></span>
                  <? } ?>
                </td>
            </tr>
        <? } ?>
    </tbody>
</table>

<script type="text/javascript">
<? if (securityCheck('bo') || ( securityCheck('b*') && !securityCheck('bo') ) ) { ?>
    jQuery('.clickable').click(function(){
        window.location='/m/business/people/edit.php?pid='+this.id;
    });
<? } ?>
</script>