body {
    padding-top: 40px;
    padding-bottom: 30px;
}

.theme-dropdown .dropdown-menu {
    position: static;
    display: block;
    margin-bottom: 20px;
}

.theme-showcase > p > .btn {
    margin: 5px 0;
}

.theme-showcase .navbar .container {
    width: auto;
}


.navbar-brand {
    float: left;
    height: 40px;
    padding: 10px 20px;
    font-size: 20px;
    line-height: 20px;
}

.navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
}

.navbar-btn.btn-sm {
    margin-top: 5px;
    margin-bottom: 5px;
}

.navbar {
    min-height: 40px;
    margin-bottom: 0;
}

.navbar-toggle {
    margin-top: 0;
    margin-bottom: 0;
}