<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="x-ua-compatible" content="IE=Edge">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="description" content="eBINDr2 Mobile">
    <meta name="author" content="">
    <title><?=$__page_title?></title>
    <script type="text/javascript">var _sf_startpt=(new Date()).getTime()</script>
    <!-- Le styles -->
    <link rel="stylesheet" href="/m/assets/css/bootstrap.css">
    <link rel="stylesheet" href="/m/assets/css/m.css">
    <link rel="stylesheet" href="/m/assets/css/bootstrap-responsive.css">

    <link rel="stylesheet" href="/m/assets/css/button.css">

    <?php include "/home/serv/public_html/m/includes/styles.php"; ?>

    <!-- Custom Styles -->
    <link rel="stylesheet" href="/m/assets/css/custom-styles.css.php?flex">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script type="text/javascript" src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="/m/assets/img/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/m/assets/img/mobile-apps-144.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/m/assets/img/mobile-apps-114.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/m/assets/img/mobile-apps-72.png">
    <link rel="apple-touch-icon-precomposed" href="/m/assets/img/mobile-apps-57.png">
    <script type="text/javascript" src="/m/assets/js/jquery.js"></script>
    <script type="text/javascript" src="/m/assets/js/ajax.js"></script>
    <script type="text/javascript">jQuery.noConflict();</script>


</head>

<body>
<div id="force_success">
    Force update complete
    <div id="force_exit">x</div>
</div>