<div id="recent-registers" class="hide"></div>
<div class="modal hide" id="modal-element" tabindex="-1" aria-label="Modal">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h3 class="modal-title">Modal header</h3>
    </div>
    <div class="modal-body">
        <div class="modal-content" aria-label="Content" ></div>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal">Close</a>
        <a href="#" class="btn btn-primary submit">Submit</a>
    </div>
</div>

<div class="modal hide" id="modal-alert-element" tabindex="-1" aria-label="Modal">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h3 class="modal-title">Modal header</h3>
    </div>
    <div class="modal-body">
        <div class="modal-content" aria-label="Content" ></div>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal">Close</a>
        <a href="#" class="btn btn-primary submit">Submit</a>
    </div>
</div>

<script src="/m/assets/js/bootstrap.js"></script>
<script src="/m/assets/js/bootstrap-tab.js"></script>
<script src="/m/assets/js/bootstrap-alert.js"></script>
<script src="/m/assets/js/modal.js"></script>
  <? if ($page != 'abnearme')  { ?>

	<script src="/m/assets/js/m.js"></script>
	<? } ?>
	<script>
        var modal_alert = function ( text, title ) {
            if( !title )
                title = 'Alert';

            $ModalAlert.content( text ).open( function(){
                // Set event
                $ModalAlert.modalElement.find( '.modal-title' ).html( title );
                $ModalAlert.modalElement.find( '.submit' ).hide();
            } );

            setTimeout(function(){
                $ModalAlert.modalElement.attr('aria-label',text).focus();
            }, 800);
        };

        var modal_confirm = function( text, ret ){
            var $ret = ret;
            $Modal.content( text ).open( function(){
                // Set event
                $Modal.modalElement.find( '.modal-title' ).html( 'Confirm' );
                $Modal.modalElement.find( '.submit' ).show();
                $Modal.modalElement.find( '.submit' ).on( 'click', function(){
                    $Modal.close();
                    if( $ret )
                        $ret( true );
                } );
            } );

            setTimeout(function(){
                $Modal.modalElement.attr('aria-label',text).focus();
            }, 800);

        };

		jQuery('.force_update').click( function(ev) {
            ev.preventDefault();
            var text = 'This feature will force an update of all information associated with this business record. Do you wish to proceed?';
            modal_confirm( text, function(ret){
                if( ret ){
                    /* Start Force Update */
                    var xmlhttp;
                    if (window.XMLHttpRequest) {// code for IE7+, Firefox, Chrome, Opera, Safari
                        xmlhttp=new XMLHttpRequest();
                    } else {// code for IE6, IE5
                        xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
                    }
                    xmlhttp.onreadystatechange= function() {
                        if (xmlhttp.readyState==4 && xmlhttp.status==200) {
                            modal_alert( jQuery( '<p>' + xmlhttp.responseText.replace( '<br><br>', '' ) + '</p>' ).text() );
                        }
                    };
                    xmlhttp.open("GET","/report/merge/update.htm/?NOASK&ebindr2=y&bid=<?=$_SESSION['bid'];?>",true);
                    xmlhttp.send();
                    return false;
                }
            } );
		});
		jQuery('#force_exit').click( function() {
			jQuery('#force_success').hide();
		});
	</script>

<!-- ALERT -->
<? if( in_array( $___ebindr2mobile_http[ 'segments' ][0], array('business') ) && ( isset( $_SESSION['e2m_auth'] ) || isset( $_SESSION['e2m_bid_loaded'] ) ) ): ?>

<!-- LOGIN ALERT -->
<? if( isset( $__business_info['loginalert'] ) && ! empty( $__business_info['loginalert'] ) && isset( $_SESSION['e2m_auth'] ) ): ?>
<script type="text/javascript">
    // login alert
    var _login_alert_text = '<?=$__business_info["loginalert"]?>';
    jQuery( document ).ready(function() {

        //console.log(login_alert_text);
        modal_alert( _login_alert_text, 'Remember');
    });
</script>
<? endif; ?>

<!-- My Alerts -->
<? if( $__business_info['myalerts'] > 0 && isset( $_SESSION['bid'] ) ): ?>
<iframe id="ialert" style="display: none"></iframe>
<script type="text/javascript">
    var _myalert = "<?=($___ebindr2mobile_http['report_url'] . 'e2m e button info.myalerts/?ebindr2=y&noheaderhidden&bid=' . $_SESSION['bid']);?>";
    jQuery( document).ready( function(){
        if( typeof _login_alert_text === "undefined" )
            ebindr.initIFrame( 'ialert', _myalert );
        else {
            $ModalAlert.modalElement.on('hidden', function () {
                ebindr.initIFrame( 'ialert', _myalert );
            });
        }
    } );
</script>
<? endif; ?>

<? unset( $_SESSION['e2m_auth'] ); ?>
<? unset( $_SESSION['e2m_bid_loaded'] ); ?>
<? endif; ?>

<script>jQuery.noConflict();</script>
<script src="/m/assets/js/mootools/core-1.2.4.js"></script>
<script src="/m/assets/js/mootools/more-1.2.4.2.js"></script>
<script src="/m/assets/js/ebindr.js.php?flex"></script>
<script type="text/javascript">
    jQuery( document ).ready(function() {

        /*ebindr.initializeUser( function(){

            ebindr.alerts();
            ebindr.timeTrack();
            ebindr.sysstatus(false);

            /!*(function() {
                ebindr.data.get('e button dr', function(data) {
                    ebindr.data.load( 'e button dr', data );
                    ebindr.data.get('e recent reports.list');
                });
                if( ebindr.data.store.traininggraph == 'block' ) ebindr.data.get('training.CourseSummary');
                ebindr.data.get('e favorite reports.list');
                ebindr.data.get('/ebindr/community.php/features/popular');
            }).delay(1000);*!/

        });*/
    });
</script>
<script src="/m/assets/js/custom-scripts.js.php?flex"></script>
  </body>
</html>