<div class="modal hide" id="modal-element">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h3 class="modal-title">Modal header</h3>
    </div>
    <div class="modal-body">
        <div class="modal-content"></div>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal">Close</a>
        <a href="#" class="btn btn-primary submit">Save changes</a>
    </div>
</div>

<script src="/m/assets/js/bootstrap.js"></script>
<script src="/m/assets/js/bootstrap-tab.js"></script>
<script src="/m/assets/js/bootstrap-alert.js"></script>
<script src="/m/assets/js/modal.js"></script>
  <? if ($page != 'abnearme')  { ?>

	<script src="/m/assets/js/m.js"></script>
	<? } ?>
	<script>
		jQuery('.force_update').click( function() {
			var xmlhttp;
			if (window.XMLHttpRequest) {// code for IE7+, Firefox, Chrome, Opera, Safari
				xmlhttp=new XMLHttpRequest();
			} else {// code for IE6, IE5
				xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
			}
			xmlhttp.onreadystatechange= function() {
				if (xmlhttp.readyState==4 && xmlhttp.status==200) {
					alert( jQuery( '<p>' + xmlhttp.responseText.replace( '<br><br>', '' ) + '</p>' ).text() );
					//jQuery('#force_success').fadeIn('slow', function() {});
					//jQuery('#force_success').fadeOut(5000, function() {});
				}
			}
			xmlhttp.open("GET","/report/merge/update.htm/?NOASK&ebindr2=y&bid=<?=$_SESSION['bid'];?>",true);
			xmlhttp.send();
			return false;
		});
		jQuery('#force_exit').click( function() {
			jQuery('#force_success').hide();
		});
	</script>

<script src="/m/assets/js/custom-scripts.js.php?flex"></script>
  </body>
</html>